extends layout

block content
    #head-index
      h2 Welcome | A CreativeBitStudio Turtorial  
        h4 User authentication with Mongo, Pug, Node and Express.
          h6 Visit my github to download the files necessary to get you started. 
            a(href='https://github.com') Link here.
                   
            
    
        


